<div class="page-header">
  <h1>Update <small>your profile</small></h1>
</div>

<% if(user.escape('gravatar_url')) { %>
  <a href="#" id="upload_widget_opener">
    <img src="<%= user.escape('avatar_url') %>" class="img-responsive" alt="profile picture">
  </a>
  <input type="hidden" class="gravatar_url" name="gravatar_url" value="<%=user.escape('avatar_url')%>">
<% } else { %>
  <a href="#" id="upload_widget_opener">
    <img src="/assets/missing_gravatar.jpg" class="profile-img img-responsive" alt="profile picture">
  </a>
  <input type="hidden" class="gravatar_url" name="gravatar_url" value="">
<% } %>

  <div class="form-group">
    <label for="profile-fname">First Name</label>
    <input type="text" name="first_name" class="form-control" id="profile-fname" value="<%=user.escape('first_name')%>" placeholder="John">
  </div>

  <div class="form-group">
    <label for="profile-lname">Last Name</label>
    <input type="text" name="last_name" class="form-control" id="profile-lname" value="<%=user.escape('last_name')%>" placeholder="Smith">
  </div>

  <div class="form-group">
    <label for="profile-city">City</label>
    <input type="text" name="city" class="form-control" id="profile-city" value="<%=user.escape('city')%>" placeholder="Reno">
  </div>

  <div class="form-group">
    <label for="profile-state">State</label>
    <input type="text" name="state" class="form-control" id="profile-state" value="<%=user.escape('state')%>" placeholder="Nevada">
  </div>

  <div class="form-group">
    <label for="profile-country">Country</label>
    <input type="text" name="country" class="form-control" id="profile-country" value="<%=user.escape('country')%>" placeholder="United States">
  </div>

  <div class="form-group">
    <label for="profile-bio">Biography</label>
    <textarea name="biography" class="form-control" id="profile-bio" rows="3" placeholder="A quick bit about yourself"><%=user.escape('biography')%></textarea>
  </div>

  <div class="form-group">
    <label for="profile-website">Website</label>
    <input type="text" name="website_url" class="form-control" id="profile-website" value="<%=user.escape('website_url') %>" placeholder="http://www.example.com">
  </div>

  <button type="submit" class="btn btn-default" style="margin-bottom: 90px;">Submit</button>

  <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>

  <script type="text/javascript">
  document.getElementById("upload_widget_opener").addEventListener("click", function() {

    cloudinary.openUploadWidget({ cloud_name: 'arpeggio', upload_preset: 'wnoych6m'},
    function(error, result) {
      if (error) {
        console.log("Something went wrong...");
      } else {
        //Success!!!
        console.log(result);
        $(".gravatar_url").attr('value', result[0].url);
        $(".img-responsive").attr("src", result[0].url);
      }
    });
  }, false);
  </script>
