<div class="users-list-wrapper">
  <div class="page-header">
    <h1>Users <small>all of em'</small></h1>
  </div>

  <ul class="users-list list-group">
    <% debugger %>
  <% users.each(function(user) { %>
    <div class="avatar">
      <% var avatar = user.escape('avatar_url') %>
      <% if(avatar){ %>
        <img src="<%= avatar %>" class="img-responsive" alt="profile picture">
      <% } else { %>
        <img src="/assets/missing_gravatar.jpg" class="profile-img img-responsive" alt="profile picture">
      <% } %>
    </div>
    <li class="list-group-item">
      <h3>
        <a href="#/users/<%=user.escape('id')%>">
          <%=user.escape('first_name') %> <%=user.escape('last_name') %>
        </a>
      </h3>
      <h4>
        <%= user.escape('biography') %>
      </h4>
      <h4>
        <%= user.escape('city') %>, <%= user.escape('state') %>
      </h4>
      <h4>
        <%= user.escape('country') %>
      </h4>
      <h4>
        <a href="<%= user.escape('website_url') %>"><%= user.escape('website_url') %></a>
      </h4>
    </li>
  <% }) %>
  </ul>
</div>
