<div class="profile-info" data-profile-user-id="<%= user.escape('id') %>">
  <div class="page-header">
    <h1><%= user.escape('first_name') %> <small><%= user.escape('last_name') %></small></h1>
  </div>

  <% if(user.escape('avatar_url')) { %>
    <img src="<%= user.escape('avatar_url') %>" class="img-responsive" alt="profile picture">
  <% } else { %>
    <img src="/assets/missing_gravatar.jpg" class="profile-img img-responsive" alt="profile picture">
  <% } %>

  <ul class="profile-list list-group">

    <li class="list-group-item list-group-item-info">
      <h4>City</h4>
    </li>
    <li class="list-group-item">
      <% var city = user.escape('city') %>
      <% if (city) { %>
        <%= city %>
      <% } else { %>
        –
      <% } %>
    </li>

    <li class="list-group-item list-group-item-info">
      <h4>State</h4>
    </li>
    <li class="list-group-item">
      <% var state = user.escape('state') %>
      <% if (state) { %>
        <%= state %>
      <% } else { %>
        –
      <% } %>
    </li>

    <li class="list-group-item list-group-item-info">
      <h4>Country</h4>
    </li>
    <li class="list-group-item">
      <% var country = user.escape('country') %>
      <% if (country) { %>
        <%= country %>
      <% } else { %>
        –
      <% } %>
    </li>

    <li class="list-group-item list-group-item-info">
      <h4>Biography</h4>
    </li>
    <li class="list-group-item">
      <% var bio = user.escape('biography') %>
      <% if (bio) { %>
        <%= bio %>
      <% } else { %>
        –
      <% } %>
    </li>

    <li class="list-group-item list-group-item-info">
      <h4>Website</h4>
    </li>
    <li class="list-group-item">
      <% var website = user.escape('website_url') %>
      <% if (website) { %>
        <a href=<%= website %>><%= website %></a>
      <% } else { %>
        –
      <% } %>
    </li>

    <li class="list-group-item">
      <% var facebook = user.escape('facebook_url') %>
      <% if (facebook) { %>
        <a href="<%= facebook %>"><img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/512/Facebook-icon.png"></a>
      <% } %>

      <% var twitter = user.escape('twitter_url') %>
      <% if (twitter) { %>
        <a href="<%= twitter %>"><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_circle_color-512.png"></a>
      <% } %>

      <% var youtube = user.escape('youtube_url') %>
      <% if (youtube) { %>
        <a href="<%= youtube %>"><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Youtube_icon.svg/2000px-Youtube_icon.svg.png"></a>
      <% } %>

      <% var instagram = user.escape('instagram_url') %>
      <% if (instagram) { %>
        <a href="<%= instagram %>"><img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/512/Instagram-icon.png"></a>
      <% } %>
    </li>
  </ul>

  <% if(user.escape('id') !== $('.wrapper').attr('data-user-id')){ %>
    <% debugger %>
    <% if(user.follow().isNew()) { %>
      <button type="button" class="btn btn-default subscribe" data-user-id="<%=user.escape('id') %>">Subscribe</button>
    <% } else { %>
      <button type="button" class="btn btn-default subscribe" data-user-id="<%=user.escape('id') %>">Unsubscribe</button>
    <% } %>


  <% } else { %>
    <a class="edit" href="#/users/<%=user.escape('id')%>/edit">Edit</a>
  <% } %>
</div>

<div class="content">
  <div class="songs">
  </div>

  <div class="people">
    <h3 style="opacity: 0.6;">Followers</h3>
    <div class="followers">
    </div>
    <hr>

    <h3 style="opacity: 0.6;">Following</h3>
    <div class="followings">
    </div>
    <hr>
  </people>
</div>
