<div class="page-header">
  <h1><%= user.escape('first_name') %> <small><%= user.escape('last_name') %></small></h1>
</div>

<% if(user.escape('gravatar_url')) { %>
  <img src="<%= user.escape('gravatar_url') %>" class="img-responsive" alt="profile picture">
<% } else { %>
  <img src="/assets/missing_gravatar.jpg" class="profile-img img-responsive" alt="profile picture">
<% } %>

<ul class="profile-list list-group">

  <li class="list-group-item">
    <%= user.escape('city') %>
  </li>

  <li class="list-group-item">
    <%= user.escape('state') %>
  </li>

  <li class="list-group-item">
    <%= user.escape('country') %>
  </li>

</ul>

<% if(user.escape('id') !== $('.wrapper').attr('data-user-id')){ %>
  <button type="button" class="btn btn-default subscribe" data-user-id="<%=user.escape('id') %>">Subscribe</button>
<% } else { %>
  <a href="#/users/<%=user.escape('id')%>/edit">Edit</a>
<% } %>
