<div class="songs-list-wrapper">
  <div class="page-header">
    <h1>Stream <small>your music</small></h1>
  </div>

  <ul class="songs-list list-group">
    <% stream.each(function(song) { %>
        <a href="#/users/<%=song.escape('user_id')%>">
          <h1><%= song.escape('first_name') %> <small><%= song.escape('last_name') %></small></h1>
        </a>
        <li class="list-group-item">
          <div class="left-content">
            <a href="#/songs/<%=song.id%>">
              <img src="<%= song.escape('image_url') %>" alt="<%= song.escape('title') %> artwork" class="img-rounded">
            </a>
            <a href="#/songs/<%=song.id%>">
              <h4 style="display:inline;"><%= song.escape("title") %></h4>
            </a>
          </div>
          <div class="right-content">
            <audio controls>
              <source src="<%= song.escape('audio_file_name') %>" type="audio/mpeg">
              <source src="<%= song.escape('audio_file_name') %>" type="audio/mp3">
              <source src="<%= song.escape('audio_file_name') %>" type="audio/m4a">
                Your browser does not support the audio element.
            </audio>
          </div>

            <!-- Represents number of likes -->
            <!-- <span class="badge">120</span> -->
        </li>
        <li class="list-group-item">
          <%= song.escape("description") %>
        </li>
        <br><br>
    <% }) %>
  </ul>
</div>
<div>
  <a class="scrollup" href="#">↑</span></a>
</div>

<script>
$(window).scroll(function (event) {
  if ($(this).scrollTop() > 100) {
    $('.scrollup').fadeIn();
  } else {
    $('.scrollup').fadeOut();
  }
});

$('.scrollup').click(function () {
  $("html, body").animate({
    scrollTop: 0
  }, 600);
  return false;
});
</script>
