<% if(following.escape('avatar_url')){ %>
  <a href="#/users/<%=following.id%>">
    <img src="<%= following.escape('avatar_url') %>" alt="profile">
  </a>
<% } %>
<a href="#/users/<%=following.escape('id')%>"><h3><%= following.escape('first_name') %> <small><%= following.escape('last_name') %></small></h3></a>
