  <div class="form-group">
    <label for="profile-fname">First Name</label>
    <input type="text" name="first_name" class="form-control" id="profile-fname" value="<%=profile.escape('first_name')%>" placeholder="First Name">
  </div>

  <div class="form-group">
    <label for="profile-lname">Last Name</label>
    <input type="text" name="last_name" class="form-control" id="profile-lname" value="<%=profile.escape('last_name')%>" placeholder="Last Name">
  </div>

  <div class="form-group">
    <label for="profile-city">City</label>
    <input type="text" name="city" class="form-control" id="profile-city" value="<%=profile.escape('city')%>" placeholder="City">
  </div>

  <div class="form-group">
    <label for="profile-state">State</label>
    <input type="text" name="state" class="form-control" id="profile-state" value="<%=profile.escape('state')%>" placeholder="State">
  </div>

  <div class="form-group">
    <label for="profile-country">Country</label>
    <input type="text" name="country" class="form-control" id="profile-country" value="<%=profile.escape('country')%>" placeholder="Country">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
